<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>Dachro Technology</title>
    <link href="https://i.pinimg.com/originals/2a/82/fe/2a82fe343e74c262f7638fe38520d926.jpg" rel="icon">
  </head>
  <body>
     <div class="container">
           <!-- header -->
    <header>
      <nav class = "navbar">
        <div class = "container">
          <a href = "index.html" class = "navbar-brand">Dachro Technology</a>
          <div class = "navbar-nav">
            <a href = "index.html">home</a>
            <a href = "aboutus.html">About</a>
            <a href = "contactus.html">Contact Us</a>
          </div>
        </div>
      </nav>
      <div class = "banner">
        <div class = "container">
          <h1 class = "banner-title">
            <span>Modern</span> Technology Blog
          </h1>
          <p>Everything that you want to know about the modern Technology & Tech Gadgets</p>
        </div>
      </div>
    </header>
    <!-- end of header -->

           <!-- jumbotron -->
          <div class="jumbotron">
          <h1 class="display-4 text-black drop-shadow">What is Technology?</h1>
          <p class="lead">Technology, the application of scientific knowledge to the practical aims of human life or, as it is sometimes phrased, to the change and manipulation of the human environment.</p>
          <hr class="my-5">
          <p>In modern life, we are surrounded by technology. It's integral to everything we do, big or small. We can find examples of technology in our homes and personal spaces, in industry, in business, and in the medical profession. Most people know technology when they see it, but what exactly is technology?

            Technology is the way we apply scientific knowledge for practical purposes. It includes machines (like computers) but also techniques and processes (like the way we produce computer chips). It might seem like all technology is only electronic, but that's just most modern technology. In fact, a hammer and the wheel are two examples of early human technology.</p>
          <a class="btn btn-outline-light btn-lg mt-4" href="https://www.facebook.com/Dachro-Tech-informations-gadgets-104333231707364" role="button">Visit Facebook Page for more</a>
          </div>

          <!-- design -->
    <section class = "design" id = "design">
        <div class = "container">
          <div class = "title">
            <h2>Technology in Everyday Life</h2>
            <p>Let's consider some examples of how technology is integral to our daily lives. When you get up in the morning, you probably get out of a bed. The synthetic materials of the mattress upon which you were sleeping, and springs underneath, are both examples of technology.

              If it's still early, you might turn on the light first. Both the light bulbs and the electrical systems that power them are also technology. Later, when you brush your teeth, the system that brings you water to the sink, the bathroom fan, the toothbrush - and the toilet, for that matter - are technology.
              
              If you're like many millions of people, you probably turn on the computer pretty quickly after waking. A computer is one of the most advanced pieces of technology we've ever come up with as humans, and the processes of making the computer's parts are all also technology.
              
              It would be impossible to list every single example of technology in our daily lives. Whether it's practical (like washing machines, tumble dryers, refrigerators, cars, flooring materials, windows, or door handles) or for leisure (like televisions, Blu-ray players, games consoles, reclining chairs, or toys), all these things are examples of technology.</p>
          </div>
  
          <div class = "design-content">
            <!-- item -->
            <div class = "design-item">
              <div class = "design-img">
                <img src = "images/A.I.png" alt = "image">
                <span><i class = "far fa-heart"></i> 1</span>
                <span>A.I</span>
              </div>
              <div class = "design-title">
                <a href = "https://amzn.to/3ruDxg0">Artificial intelligence (A.I.) refers to the simulation of human intelligence in machines that are programmed to think like humans and mimic their actions. The term may also be applied to any machine that exhibits traits associated with a human mind such as learning and problem-solving.</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "design-item">
              <div class = "design-img">
                <img src = "images/electricity.png" alt = "electricity">
                <span><i class = "far fa-heart"></i> 2</span>
                <span>Electricity</span>
              </div>
              <div class = "design-title">
                <a href = "https://amzn.to/3qxqtFr">Electricity is also important for the purpose and operation of machines such as computers or monitors that display data to enhance medicine. Without electricity, hospitals and medicine would not be able to be advanced and cure illnesses, which would also result in more casualties.</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "design-item">
              <div class = "design-img">
                <img src = "images/COMMUNICATION.png" alt = "Communication">
                <span><i class = "far fa-heart"></i> 3</span>
                <span>Communication</span>
              </div>
              <div class = "design-title">
                <a href = "https://amzn.to/3bw16j0">Being able to communicate effectively is one of the most important life skills. Those with good interpersonal skills are strong verbal and non-verbal communicators and are often considered to be “good with people”. to learn. Communication is defined as transferring information to produce greater understanding.</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "design-item">
              <div class = "design-img">
                <img src = "images/Space.png" alt = "Space">
                <span><i class = "far fa-heart"></i> 4</span>
                <span>Space</span>
              </div>
              <div class = "design-title">
                <a href = "https://amzn.to/2MZo7kT">The beneficial uses of outer space, including strengthening communications infrastructures, disaster management, education, agriculture, environmental protection and natural resource management, had enormous relevance for human development, especially for developing countries, the report says.</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "design-item">
              <div class = "design-img">
                <img src = "images/food technology.png" alt = "food technology">
                <span><i class = "far fa-heart"></i> 5</span>
                <span>Food Technology</span>
              </div>
              <div class = "design-title">
                <a href = "https://amzn.to/3bvVFRb">With the aid of various disciplines in food science and technology, raw materials are being converted to edible foods. Reduced diseases, improved safety and quality, variety, less cost, less wastage are some of the advancements in the field.</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "design-item">
              <div class = "design-img">
                <img src = "images/quantum.png" alt = "Quantum Technology">
                <span><i class = "far fa-heart"></i> 6</span>
                <span>Quantum Technology</span>
              </div>
              <div class = "design-title">
                <a href = "https://amzn.to/30qVdgJ">Quantum technology is a class of technology that works by using the principles of quantum mechanics (the physics of sub-atomic particles), including quantum entanglement and quantum superposition.</a>
              </div>
            </div>
            <!-- end of item -->
          </div>
        </div>
      </section>
      <!-- end of design -->
  
  
      <!-- blog -->
      <section class = "blog" id = "blog">
        <div class = "container">
          <div class = "title">
            <h2>Latest Blog</h2>
            <p>recent blogs about modern gadgets</p>
          </div>
          <div class = "blog-content">
            <!-- item -->
            <div class = "blog-item">
              <div class = "blog-img">
                <img src = "https://1.bp.blogspot.com/-wlBnvmm3Exk/YEb5UdDJztI/AAAAAAAAAAk/JcY83yoeCSodMJv9_LCx5J_5mbaLV0_3QCLcBGAsYHQ/w650-h421/Asus-ROG-Strix-Scar-15-2.jpg" alt = "">
                <span><i class = "far fa-heart"></i></span>
              </div>
              <div class = "blog-text">
                <span>20 January, 2020</span>
                <h2>ASUS ROG STRIX SCAR 15 GAMING LAPTOP</h2>
                <p>The Asus ROG Strix Scar 15has been made to be one of the flashiest gaming laptops out there. The laptop features a black matte finish with the ROG logo in RGB on the back panel of the display. The keyboard features an RGB backlight and what is even more exciting is the band of RGB light that is placed...</p>
                <a href = "asusrog.html">Read More</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "blog-item">
              <div class = "blog-img">
                <img src = "https://1.bp.blogspot.com/-TB_lmA-ZfSo/YEb3k_kKSCI/AAAAAAAAAAU/pvC03Rv_qS0Yxip3xqmv8QWHxpka2FFiQCLcBGAsYHQ/w639-h399/michal-kubalczyk-WecngmAT-KY-unsplash.jpg" alt = "">
                <span><i class = "far fa-heart"></i></span>
              </div>
              <div class = "blog-text">
                <span>20 January, 2020</span>
                <h2>MACBOOK PRO</h2>
                <p>The fan is the most notable difference between Apple’s two new laptops based on its own custom M1 chip: the new Air, which does not have a fan, has to throttle performance as temperatures rise. The Pro can just...</p>
                <a href = "https://dachrotech.blogspot.com/2021/03/macbook-pro-review.html">Read More</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "blog-item">
              <div class = "blog-img">
                <img src = "https://1.bp.blogspot.com/-4FjmORdirg4/YEbw58GoryI/AAAAAAAAAAM/T-uY0JFN_kA112S4wbarI2EXfaxFnJ-xwCLcBGAsYHQ/w593-h505/gsmarena_005.jpg" alt = "">
                <span><i class = "far fa-heart"></i></span>
              </div>
              <div class = "blog-text">
                <span>20 January, 2020</span>
                <h2>Redmi Note 10</h2>
                <p>Redmi Note 10 smartphone was launched on 4th March 2021. The phone comes with a 6.43-inch touchscreen display with a resolution of 1080x2400 pixels. Redmi Note 10 is powered by an octa-core Qualcomm Snapdragon 678 processor. It comes with 4GB of RAM. The Redmi Note 10 runs Android 11 and is powered by a 5000mAh battery. The Redmi...</p>
                <a href = "https://dachrotech.blogspot.com/2021/03/redmi-note-10-summary-redmi-note-10.html">Read More</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "blog-item">
              <div class = "blog-img">
                <img src = "https://www.gizmochina.com/wp-content/uploads/2020/08/Realme-X7-Pro.jpg" alt = "IMAGE">
                <span><i class = "far fa-heart"></i></span>
              </div>
              <div class = "blog-text">
                <span>20 January, 2020</span>
                <h2>REALME X7</h2>
                <p>The new Realme X7 5G and X7 Pro 5G are aimed at the mainstream and “flagship killer” market respectively, and both are priced to bring some serious competition to longstanding favourites. We've just seen what the higher-end Realme X7 Pro 5G (Review) has to offer, and now it's time for a full review of the more affordable Realme X7 5G. Launched at Rs. 19,999 for the 6GB RAM/ 128GB storage variant and Rs. 21,999 for 8GB of RAM with 128GB of storage...</p>
                <a href = "realmex7.html">Read More</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "blog-item">
              <div class = "blog-img">
                <img src = "https://images.unsplash.com/photo-1612810806695-30f7a8258391?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDR8fHRlc2xhfGVufDB8fDB8&auto=format&fit=crop&w=500&q=60" alt = "image">
                <span><i class = "far fa-heart"></i></span>
              </div>
              <div class = "blog-text">
                <span>20 January, 2020</span>
                <h2>Tesla</h2>
                <p>Tesla, Inc. is an American electric vehicle and clean energy company based in Palo Alto, California. Tesla's current products include electric cars, battery energy storage from home to grid scale, solar panels and solar roof tiles, as well as other related products and services. Tesla is ranked as the world's best-selling plug-in and battery electric passenger car manufacturer, with a market share of...</p>
                <a href = "tesla.html">Read More</a>
              </div>
            </div>
            <!-- end of item -->
            <!-- item -->
            <div class = "blog-item">
              <div class = "blog-img">
                <img src = "https://images.financialexpress.com/2020/06/realme-X3-SuperZoom.png" alt = "https://images.indianexpress.com/2020/06/realmeX3SuperZoom.jpg">
                <span><i class = "far fa-heart"></i></span>
              </div>
              <div class = "blog-text">
                <span>7 April, 2021</span>
                <h2>Realme X3</h2>
                <p>a muscular monster yet affordable device comes with last year's flagship snapdragon 855 plus assembled with up to 8 GB ram and256 GB of UFS 3.0 storage.

and 64 mp...</p>
                <a href = "RealmeX3.html">Read More</a>
              </div>
            </div>
            <!-- end of item -->
          </div>
        </div>
      </section>
      <!-- end of blog -->
  
      <!-- about -->
      <section class = "about" id = "about">
        <div class = "container">
          <div class = "about-content">
            <div>
              <img src = "https://scontent.fgau1-1.fna.fbcdn.net/v/t1.6435-9/132013025_1512939975762645_2185989858423456809_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=qXUejvivSvQAX9CUm4P&_nc_ht=scontent.fgau1-1.fna&oh=e11d9e5f9d9624bf9685c3a5591da786&oe=6089009B" alt = "">
            </div>
            <div class = "about-text">
              <div class = "title">
                <h2>Dachro Technology</h2>
                <p>We provide best informations about modern technology & tech gadgets</p>
              </div>
              <p> Hi! I'm Rishi Chakraborty, I'm a member of our Dachro Group, I'm here to provide you with the latest tech news & tech gadgets so that you can stay updated about the tech world because nowadays technology is the brain of society, we are using technology each & every time intentionally or unintentionally, so, it's important to make aware of new technologies of our world.</p>
              <h3>Why us? Why you'll follow our website?</h3>
              <p>Because we always try to make satisfied our website visitors.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- end of about -->
      
      <!-- footer -->
      <footer>
        <div class = "social-links">
          <a href = "https://www.facebook.com/Dachro-Tech-informations-gadgets-104333231707364"><i class = "fab fa-facebook-f"><div><img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Facebook_Logo.png" alt=""></div></i></a>
          <a href = "https://instagram.com/dachro_tech_informations?igshid=btoevlwg2hhx"><i class = "fab fa-instagram"><div><img src="https://i.pinimg.com/originals/8a/77/05/8a770507298d728a1e3e039a0507dd8e.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-linkdin"><div><img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG38.png" alt=""></div></i></a>
          <a href = "#"><i class = "fab fa-pinterest"><div><img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt=""></div></i></a>
        </div>
        <span>Dachro Technology blog page</span>
      </footer>

      
<!-- Modal Section -->

<div class="bg-modal" style=<%= display %>>
	<div class="modal-contents">

		<div class="close">+</div>

		<form action="/upload" method="POST">
			<input type="email" name="email" placeholder="E-Mail">
			<button type="submit" class= "btn btn-warning">Submit</button>
		</form>

	</div>
</div>

<script src="index.js" type="text/javascript"></script>







           
          
            





     </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  
    <script id="appyWidget" src="https://chat.appypie.com/widget/build.js?cid=161617735278113845-161617735422832421"></script>
  </body>
</html>
